  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>
      <!-- <app-servers></app-servers> --> 
      <!-- <div class="app-servers"></div> -->  <!-- selector with a .-->
      <!-- <div app-servers></div> --><!-- selector with a [] -->

      <app-parent></app-parent>

    

      <!---- START tour de heroes --->

      <!-- <app-heroes></app-heroes> -->
      <!-- <nav>
          <a routerLink="/heroes">Heroes</a>
          <a routerLink="/dashboard">Dashboard</a>
      </nav>
      <router-outlet></router-outlet>  <!-- The <router-outlet> tells the router where to display routed views-->
      <app-messages></app-messages>  -->


    <!---- END tour de heroes --->
    </h3>
    </div>
  </div>
</div>
